*{
	width:100%;
	height:100%;
}

body{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-color:white;
	
}

/*Navigation Bar*/

ul a:hover {
  color: blue;
  /* height:200px; */
  /* width:200px; */
}
.sub-menu li{
	width:180px;
	height:50px;
	z-index:100;
}
.sub-menu {
  position: absolute;
  /* width: 200px; */
  /* height:600px; */
  top: 30px;
  display: none;
  z-index:100;
}
.sub-menu a {
  color: white;
  padding: 15px 25px;
  display: block;
    z-index:100;

  /* width:200px; */
  /* height:200px; */
}
.sub-menu a:hover {
  color: #fff;
  /* width:200px; */
  /* height:200px; */
    z-index:100;
}

.drop-down:hover ul,
.drop-down ul.focused {
  display: block;
  /* width:200px; */
  /* height:200px; */
    z-index:100;
}
li.drop-down li a:hover,
li.drop-down li a:focus {
  background-color:white; 
  color:black;
  /* width:200px; */
  /* height:200px; */
    z-index:100;
}


a{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	color:white;
	text-decoration:none;
}

.header-card{	
	height:15%;
	background-color:rgba(52,52,47,0.45);
	width:100%;	
	margin:0px;
	padding:0px;
}
ul{
	width:50%;
	height:50%;
	/* background-color:red; */
	margin:0px;
	padding:0px;
	position:relative;
	top:20%;
	left:40%;
}
li{
	display:inline-block;
	width:15%;
	height:40%;
	/* background-color:green; */
	margin:0px;
	padding:0px;
	position:relative;
	top:30%;
	right:10%;	
}
.logo{
	height:200px;
	width:400px;
	float:left;
	position:relative;
	left:5%;
}

/* video */
video{
	width:100%;
	height:auto;
	z-index:-100;
	overflow:hidden;
	
}

/* hero text*/
.hero-text {
	text-align:left;
	position:fixed;
	top:75%;
	left:15%;
	transform:translate(-25%, -25%);
	color:white;
}
.hero-text h1{
	font-size:60px;
	text-align:left;
	line-height:50px;
}
.hero-text p{
	font-size:25px;
	text-align:center;
	top:-2%;
	left:5%;
}

/*Stuff for Chapter Pages*/
.imageWrapper{
	height:3400px;
	width:3000px;
}
article{
	width:100%;
	height:100%;
	
	
}
.chapterHead{
	position:relative;
	margin-top:15%;
	width:50%;
	left:25%;
	text-align:center;
	font-size:40px;
}
.chapterText{
	position:relative;
	top:20%;
	left:35%;
	width:30%;
	font-size:20px;
	
}