body{
	margin: 0;
	padding: 0;
}

/*Navigation*/
.drop-down a{
	font-size: 20px;
}
.drop-down{
	background-color:rgba(0,0,0,0.5);
	z-index:100;
}
.drop-down:after{
	content: '';
	clear: both;
	display: block;
	z-index:100;
}
.drop-down ul{
	list-style: none;
	margin: 0;
	z-index:100;
	float:right;
}
.drop-down > ul > li{
	float: left;
	position: relative;
	z-index:100;
}
.drop-down ul li a{
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;
	z-index:100;	
}
.drop-down ul li:hover a{
	background: #34495e;
	z-index:100;
}

.drop-down ul ul{
	position: absolute;
	padding: 0;
	min-width: 100px;
	display: none;
	top: 100%;
	left: 0;
	z-index:100;
	font-size:12px;
}
.drop-down ul li:hover > ul{
	display: block;
	z-index:100;
	font-size:12px;	
}
.drop-down ul ul li:hover a{
	background: #262626;
	z-index:100;
	font-size:12px;	
}
.drop-down ul ul li{
	position: relative;
	z-index:100;
	font-size:12px;
}


/*Logo*/
.logo{
	height:auto;
	width:200px;
	float:left;
	position:relative;
	left:0;
}

/* Video */
video{
	width:100%;
	height:auto;
	z-index:-100;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
}

/* hero text*/
.hero-text {
	text-align:left;
	position:fixed;
	color:white;
	top:75%;
	left:3%;
}
.hero-text h1{
	font-size:60px;
	line-height:50px;
}
.hero-text p{
	font-size:25px;
	text-align:center;
}


/*Home Form*/
form{
	width:30%;
	height:500px;
	position:relative;
	left:65%;
	border-radius:35px;
	top:50px;
	
	background-color:rgba(255,255,255,0.7);
}

section , h2{
	position:relative;
	left:10%;
	top:5%;
	width:94%;
	height:10%;
}


label{
	display:block;
	width:30%;
	height:10%;
	position:relative;
	left:25%;
	bottom:-40px;
}

input{
	width:50%;
	height:5%;
	position:relative;
	left:25%;
	bottom:-15px;
	border-color:grey;
}

#submitbutton{
	width:25%;
	height:10%;
	position: relative;
	top:20px;
	left:18%;
	border-radius:15px;
	font-size:14px;
	margin:0 auto;
	margin-top:60px;
	padding:10px; 
	background-color:black;
	color:white;
	border: 2px solid #4CAF50;
}

#submitbutton:hover{
	transition-duration:0.7s;
	background-color:rgba(113, 218, 218,0.2);
	color:#000000;
	border-radius:10px;
	border: 1px solid #000000;
}

#resetbutton{
	width:25%;
	height:10%;
	position: relative;
	top:20px;
	left:30%;
	border-radius:15px;
	font-size:14px;
	margin:0 auto;
	margin-top:60px;
	padding:10px; 
	background-color:black;
	color:white;
	border: 2px solid #4CAF50;
}
#resetbutton:hover{
	transition-duration:0.7s;
	background-color:rgba(113, 218, 218,0.2);
	color:#000000;
	border-radius:10px;
	border: 1px solid #000000;
	
}

/*Footer*/
footer{
	background-color:rgba(0,0,0,0.5);

}
footer a p{
	background-color:rgba(0,0,0,0.5);
	color:white;
	font-size: 0.8em;
	font-family:italic;
	text-align:center;
}

footer .footer-1{
	margin-right:2%;
}
footer .footer-2{
	margin-right:2%;
}
footer .footer-3{
	margin-right:2%;
}
footer i{
	color:white;
	font-size: 1.2em;
	font-family:italic;
	text-align:center;
	margin-right:2%;
}
.socialmedia{
    width:2%;
    height:2%;
}
.contact{
    width:2%;
    height:2%; 	
}