*{
	font-family: 'Alice';
	text-align:justify;
}

body { 
   margin:0;
   /* width: 100vh; */
   height:100vh;
   background-color:#F0F0F0;
}
.bodycolor{
	background-color:#F0F0F0;
}

/* * {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
} */

/* body{
	margin: 0;
	padding: 0;
} */


.articleContainer{
	height:90%;
	width:100%;
	display:flex;
	margin:0;
	padding:0;

}
.leftArticle{
	height:90%;
	width:31%;
	display:flex;
	padding:2%;
	margin-left:15%;
}
.rightArticle{
	height:90%;
	width:31%;
	display:flex;
	padding:2%;
	margin-right:15%;
	
}
.mainArticle{
	width:100%;
}
@media only screen and (max-width: 900px) {
  .articleContainer{
	  flex-direction:column;
	  width:80%;
  }
  Chaptertitle{
	  width:80%;
	  background-color:red;
  }
}
/*Navigation*/
.drop-down a{
	font-size:30px;
}
.drop-down{
	background-color:rgba(0,0,0,0.4);
	z-index:100;
	border:1px solid;
	border-bottom-color:white;	
}
.drop-down:after{
	content: '';
	clear: both;
	display: block;
	z-index:100;
}
.drop-down ul{
	list-style: none;
	z-index:100;

}
.drop-down > ul > li{
	float:left;
	position:relative;
	z-index:100;	
}
.drop-down ul li a{
	text-decoration: none;
	color: #fff;
	padding: 15px 25px;
	display: block;
	z-index:100;
}
.drop-down ul li{
	position:relative;
	margin:2%;
	left:20%;
}
.drop-down ul li:hover a{
	border-bottom:2px solid white;
	color:grey;	
	z-index:100;
}
.drop-down ul ul{
	position: absolute;
	padding: 0;
	min-width: 160px;
	display: none;
	top: 100%;
	left: 0;
	z-index:100;
}
.drop-down ul ul a{
	z-index:100;
	min-width:100px;
	font-size:20px;
	position:relative;
	right:33px;
	background-color:white
}
.drop-down ul li:hover > ul{
	display: block;
	z-index:100;
}
.drop-down ul ul li:hover a{
	background-color:rgba(113, 218, 218,0.2);
	z-index:100;
	color:black;
}
.drop-down ul ul li{
	position: relative;
	z-index:100;
}


/*Logo*/
.logo{
	height:auto;
	width:15%;
	float:left;
	position:relative;
	left:1%;
}
/* Video */
video{
	width:100%;
	height:auto;
	z-index:-100;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
}

/* @media screen and (max-width: 2240px){ */
	/* body{ */
		/* background-image: url("WavesStatic.jpg");  */
	/* } */
	/* video{ */
		/* display:none; */
	/* } */
	/* *{ */
		/* /*font-size:10px !important;*/ */
	/* }	 */
/* } */

/*Home page text*/
.homeIntro{
	position:absolute;
	top:71%;
	left:7%;
	width:30%;
	height:20%;
	/* background-color:rgba(255,255,255,0.5); */
	border-radius:7px;
	color:white;
	border: 5px white solid;
}
.homeIntrop{
	position:relative;
	top:5%;
	left:7%;
	width:90%;
	height:90%;
	font-size:25px;
}

/*Home Form*/
form{
	width:29%;
	height:830px;
	position:relative;
	left:65%;
	border-radius:30px;
	top:50px;
	background-color:rgba(255,255,255,0.7);
}
.home-form h2{
	position:relative;
	left:16%;
	top:5%;
	width:94%;
	height:10%;
}
label{
	display:block;
	width:30%;
	height:10%;
	position:relative;
	left:25%;
	bottom:-40px;
}
input{
	width:50%;
	height:7%;
	position:relative;
	left:25%;
	bottom:-16px;
	border-color:#E0E0E0;
	border-top-color:#E0E0E0;
}
#submitbutton{
	width:28%;
	height:8%;
	position: relative;
	top:10px;
	left:18%;
	border-radius:15px;
	font-size:14px;
	margin:0 auto;
	margin-top:60px;
	padding:10px; 
	background-color:black;
	color:#FFFFFF;
	border: 2px solid #4CAF50;
}
#submitbutton:hover{
	transition-duration:0.7s;
	background-color:rgba(113, 218, 218,0.2);
	color:#000000;
	border-radius:10px;
	border: 1px solid #000000;
    cursor: pointer;
}
#resetbutton{
	width:28%;
	height:8%;
	position: relative;
	top:10px;
	left:30%;
	border-radius:15px;
	font-size:14px;
	margin:0 auto;
	margin-top:60px;
	padding:10px; 
	background-color:black;
	color:white;
	border: 2px solid #4CAF50;
}
#resetbutton:hover{
	transition-duration:0.7s;
	background-color:rgba(113, 218, 218,0.2);
	color:#000000;
	border-radius:10px;
	border: 1px solid #000000;
    cursor: pointer;	
}
fieldset{
	border-radius:19px;
	width:45%;
	position:relative;
	top:9%;
	left:25%;
}
legend{
	font-size:15px;	
}
select{
	border-radius:15px;
	width:100%;
	font-size:15px;
}


.error {
	position:relative;
	top:5%;
	left:21%;
	list-style-type:none;
	width:80%;
	padding:2%;
	height:2%;
	
}
.errormessage{
	/* background-color:#E57373; */
	color:#B71C1C;
	padding:2%;
}
.errormessagesuccess{
	/* background-color:#A5D6A7; */
	color:#388E3C;
	padding:2%;
}

.Aboutusimgbg{
	/* linear gradient is used to darken the image*/
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("aboutusimage.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:50% 100%;
	background-repeat:no-repeat;
	height:70%;
	width:100%;
}

.Chapter1imgbg{
	/* linear gradient is used to darken the image*/
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("chapter1img.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:50% 100%;
	background-repeat:no-repeat;
	height:70%;
	width:100%;
}
.Chapter2imgbg{
	/* linear gradient is used to darken the image*/
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("chapter2bg.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:50% 100%;
	background-repeat:no-repeat;
	height:70%;
	width:100%;
}
.Chapter4imgbg{
	/* linear gradient is used to darken the image*/
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("chapter4.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:50% 100%;
	background-repeat:no-repeat;
	height:70%;
	width:100%;
}

.ContactUsimgbg {
	/* linear gradient is used to darken the image*/
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("contactusbg.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:50% 100%;
	background-repeat:no-repeat;
	height:70%;
	width:100%;
	
	
	
}

h1{
    font-size:4em;
	margin-top:0;
	margin-bottom:0.5em;
	color:#FFFFFF;
	text-align:center;
	height:50%;
	font-family: 'Alice', serif;   
	position:relative;
	bottom: -300px;
}



.hero-text2 {
	text-align:center;
	position:relative;
	color:white;
	top:90px;
	left:50%;
	transform: translate(-50%, -50%);
	width:70%;
	
}

.hero-text2 h1{
	font-size:60px;
	line-height:50px;
	animation-duration:3s;
	animation-name:slideinr;
	animation-iteration-count:1;
}
/*Sliding Text*/
@keyframes slideinl{
	0%{
		margin-left:-300%;
		width:300%;
	}
	100%{
		margin-left:0%;
		width:100%;
	}
} 
@keyframes slideinr{
	0%{
		margin-left:300%;
		width:100%;
	}
	100%{
		margin-left:0%;
		width:100%;
	}
}

.paras {
         text-align: justify;
		  color: #000000;
		  font-family: 'Alice', serif;
		 
}


.paragraphs {
	position:relative;
	left:24%;
	width: 50%;
	font-family: 'Alice', serif;
	display:flex;
	padding:2%;
	border-radius:10px;
	
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border:solid black 1px;
}

.centeredimage {
	display:block;
	margin-right:auto;
	margin-left:auto;
	width:50%;
	height:30%;
	
}

legend{
	text-align:left;
	font-family: 'Alice', serif;
	font-size:15px;
	
}

fieldset{
	width:48.5%;
	border: 1px solid #B0B0B0;
}
/* Customize the container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size:15px;
  font-family: 'Alice', serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height:15px;
  width:20px;
  background-color: #000000;
  border-radius:70%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color:#000000;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ded3d3;
}

.contactusbutton{
	width:50%;
	height:auto;
	border-radius:35px;
	font-size:25px;
	padding:20px; 
	text-decoration:none;
    background-color:rgba(0,0,0,0.7); 
	color:#FFFFFF;
	border: 2px solid #FFFFFF;
	cursor: pointer;


}


<<<<<<< HEAD







=======
>>>>>>> 8d742bf138c0e97ad0c392cabed036d130cc17d0


.Chaptertitle {
	font-family: 'Alice', cursive;
	position:relative;
	left:42.375%;
    width:13.25%;
	height:5%; 
	margin:1%;
	padding:0;
	display:flex;
	text-align:center;
	text-decoration:underline overline;
	font-size:30px;

}

<<<<<<< HEAD




=======
>>>>>>> 8d742bf138c0e97ad0c392cabed036d130cc17d0
.contactusbutton:hover{
	transition-duration:0.7s;
	background-color:rgba(255,255,255,0.5);
	color:#000000;
	border-radius:35px;
	border: 1px solid #000000;
    cursor: pointer;	
	
}
.pagebuttons {
	width:30%;
	height:10%;
	position:relative;
	left:35%;
	top:15%;
	
}
.nextbutton{
	width:40%;
	height:auto;
	border-radius:35px;
	font-size:25px;
	padding:20px; 
	text-decoration:none;
    background-color:rgba(0,0,0,0.7); 
	color:#FFFFFF;
	border: 2px solid #FFFFFF;
	cursor: pointer;
	display:inline-block;
	position:relative;
	float:right;
	text-align:center;
	
}

.nextbutton:hover{
	transition-duration:0.7s;
	background-color:rgba(255,255,255,0.5);
	color:#000000;
	border-radius:35px;
	border: 1px solid #000000;
    cursor: pointer;	
	
}
.previousbutton{
	width:40%;
	height:auto;
	border-radius:35px;
	font-size:25px;
	padding:20px; 
	text-decoration:none;
    background-color:rgba(0,0,0,0.7); 
	color:#FFFFFF;
	border: 2px solid #FFFFFF;
	cursor: pointer;
	display:inline-block;
	position:relative;
	float:left;
	text-align:center;
	
	
}

.previousbutton:hover{
	transition-duration:0.7s;
	background-color:rgba(255,255,255,0.5);
	color:#000000;
	border-radius:35px;
	border: 1px solid #000000;
    cursor: pointer;	
	
}
.Chaptertitle {
	font-family: 'Alice', cursive;
	position:relative;
	left:42.375%;
    width:13.25%;
	height:5%;
	margin:1%;
	padding:0;
	display:flex;
	text-align:center;
	text-decoration:underline overline;
	font-size:30px;

}
.chapterText h2{
	text-align:center;
	
}


/*  style for the map */ 
 .gmap_canvas {
     overflow: hidden; 
     width:70%;
	 height:900px;
 }
 .mapouter {
     text-align: right;
     width: 70%;

 }
 .map {
     position: relative;
	 left:25%;
	 bottom:500px;
	 height:300px;
 }


iframe{
	width:100%;
	height:500px;
	
}


::-webkit-scrollbar{
	display:none;
}








.footer {
   position:relative;
   width:100%;
   height:300px;
   background-color:#ded3d3;
   color:#000000;
   text-align:center;
}	

.footerp{
	position: relative;
	top:80%;
	right:20%;
	font-family: 'Alice', serif;
	
	
}
.contact{
     float:left;
     width:20%;
     margin:0px;
     padding:0px;
} 
.contact h4{
	font-family: 'Bad Script', cursive;
	font-size:1.5em;
}
.contact-Form input[type=text]{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  margin-top:6px;
  margin-bottom:16px;
  resize:vertical;
  color:black;
}
textarea {
  position:relative;
	left:25%;
}
.contact-Form input[type=email]{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  margin-top:6px;
  margin-bottom:16px;
  resize:vertical;
  color:black;
}
.contactForm button[type=submit] {
	width:28%;
	height:8%;
	position: relative;
	top:10px;
	left:35%;
	border-radius:15px;
	font-size:14px;
	margin:0 auto;
	margin-top:60px;
	padding:10px; 
	background-color:black;
	color:#FFFFFF;
	border: 2px solid #4CAF50;  
}
.contactForm button[type=submit]:hover {
	transition-duration:0.7s;
	background-color:rgba(113, 218, 218,0.2);
	color:#000000;
	border-radius:10px;
	border: 1px solid #000000;
    cursor: pointer;	
}
.contactText{
	float:left;
	width:50%;
	padding:10%;
	height:100%;
	color:white;
	
}
.contentWrapper{
	background-color:rgba(255,255,255,0.4);
	border-radius:10px;
	padding:4%;
}
.contactForm{
	width:70%;
	position:relative;
	left:0%;
}
.contactFormDiv{
    width:50%;
	border-radius:0;
	height:100%;
	margin:0;
	padding:0;
	position:relative;
	left:0%;
	float:right;
	padding:5%;
}

.contact-Form label{
	color:black;
	float:left;
	font-size:20px;
	/* font-family:FreightSansProBook-Regular; */
}
.contactlinks{
	 position:relative;
	 top:-50px;
	 left:1%;
	 font-family: 'Alice', serif;
	 color:#000000;
}

.linkcontainer{
     width:60%;
     position: relative;
	 left: 30%;
	 
	 
 } 

.icon{
     width:10%;
	 height:40%;
	 position:relative;
	 top:-10px;
	 left:-25%;
 }
.stayconnected{
     float:left;
     width:20%;
	 height:20%; 
	 margin:0px;
     padding:0px;

}
 
 .stayconnected h4{
	font-family: 'Bad Script', cursive;
	font-size:1.5em;
}

 .quicklinks{
     float:left;
     width:20%;
     margin:0px;
     padding:0px;
	 font-family: 'Alice', serif;
	 
 }
 
 .quicklinks h4 {
	 font-family: 'Bad Script', cursive;
	 font-size:1.5em;
 }

.footerunderline{
	width:50%;
	height:10%;
	position:relative;
	left:1%;
	top:-50px;

}
.footerunderlinetwo{
	width:50%;
	height:10%;
	position: relative;
	left:2%;
	top:-50px;
	
}
.footerunderlinethree{
	width:50%;
	height:10%;
	position: relative;
	left:19%;
	top:-50px;
}


